
<%- include('../header') %>


<form method="POST" accept="/publicacoes/nova"> 
<div class="mb-3">
  <label  class="form-label">Título: </label>
  <input class="form-control" placeholder="Título" type="text" name="publicacoes"><br>
</div>
<div class="mb-3">
  <label  class="form-label">Categoria: </label>
  <input class="form-control"  type="text" id="categoria" name="categoria"><br>
</div>

<div class="form-floating">
  
  <textarea class="form-control" placeholder="Escreva aqui..." name="publicacoes" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Conteúdo: </label>
</div>
<br>

  <div class="mb-3">
    <label  class="form-label">Data:</label>
    <input class="form-control" placeholder="data" type="date" name="publicacoes"><br />
  </div>


<button type="submit" class="btn btn-primary">Salvar</button>
 
</form>

   

<%- include('../footer') %> 